{% extends 'base.html' %}
{% comment %} hackoverflow/templates/chat/chat.html {% endcomment %}
{% block body %}

<div class="p-4 h-screen">
  <!-- Chats -->
  <div class="flex flex-col mx-auto max-w-screen-md h-[90vh]">
    <!--   Info  -->
    <div class="fixed bottom-0 right-0 mb-8 mr-8">
      <button id="info-button"
              class="relative z-10 w-12 h-12 rounded-full text-green-700 bg-gray-200 hover:bg-gray-300 focus:outline-none">
        ?
      </button>
      <div id="info-panel"
           class="fixed bottom-12 right-12 w-64 p-4 bg-white border border-gray-300 rounded-lg shadow-sm">
        <p class="text-gray-800">Frequently Asked Questions</p>
        <ul class="mt-4">
          <li class="mb-2 text-blue-500 cursor-pointer" data-text="What is the general topic of the conversation?">What
            is the general topic of the conversation?
          </li>
          <li class="mb-2 text-blue-500 cursor-pointer" data-text="Who are the speakers in the conversation?">Who are
            the speakers in the conversation?
          </li>
          <li class="mb-2 text-blue-500 cursor-pointer" data-text="What are the action items in the conversation?">What
            are the action items in the conversation?
          </li>
          <li class="mb-2 text-blue-500 cursor-pointer"
              data-text="What are the roles of the speakers in the conversation?">What are the roles of the speakers in
            the conversation?
          </li>
          <li class="mb-2 text-blue-500 cursor-pointer" data-text="What is the agenda of the meeting?">What is the
            agenda of the meeting?
          </li>
          <li class="mb-2 text-blue-500 cursor-pointer" data-text="What are the decisions taken here?">What are the
            decisions taken here?
          </li>
          <li class="mb-2 text-blue-500 cursor-pointer" data-text="Can you summarize this conversation?">Can you
            summarize this conversation?
          </li>
        </ul>
      </div>
    </div>


    <!-- Header -->
    <div class="flex justify-between items-center pb-4">
      <h1 class="text-2xl font-semibold text-gray-900 font-sans">KEY<span class="text-blue-800">NOTE</span></h1>
      <div class="flex items-center">
        <div class="flex items-center">
          <span class="text-gray-500 text-sm mr-2">Meeting ID:</span>
          <span class="text-gray-900 text-sm font-bold">{{ meeting_id }}</span>
        </div>
      </div>
    </div>

    <!--   Chat Portion  -->
    <div id="chat-log" class="border w-full p-4 bg-gray-100 h-full rounded-lg overflow-y-scroll"></div>

    <!--  Form and Buttons -->
    <div class="flex mt-4">
      <label for="chat-message-input" class="hidden"></label>
      <input
        id="chat-message-input"
        class="py-2 rounded-md outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm  focus:border-grey-500 w-full"
        type="text"
        placeholder="Start typing..."
      />
      <button
        id="chat-message-submit"
        class="py-2 px-4 ml-4 border  border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-400"
        type="submit"
      >
        Send
      </button>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  const wss_protocol = window.location.protocol == "https:" ? "wss://" : "ws://";
  const chatSocket = new WebSocket(
    wss_protocol + window.location.host + "/ws/chat/" + "{{ meeting_id }}" + "/"
  );
  let messages = [];

  chatSocket.onopen = function () {
    console.log("Socket opened");
  };

  chatSocket.onmessage = function (e) {

    document.querySelector("#chat-log").innerHTML = '<div className="bouncing-loader"><div></div><div></div><div></div></div>';

    let data = JSON.parse(e.data);
    let message = data["text"];
    messages.push(message);

    let str = '<ul class="space-y-2">';
    messages.forEach(function (msg) {
      str += `<li class="flex ${msg.source === "bot" ? "justify-start" : "justify-end"
      }">

      <div class="relative px-5 py-1 shadow-sm
        ${msg.source === "bot"
        ? "text-gray-900 bg-white border border-gray-200"
        : "bg-gray-100 text-gray-900 border border-gray-100"
      } rounded-full">
        <span class="block font-normal">${msg.msg}</span></div></li>`;
    });
    str += "</ul>";
    document.querySelector("#chat-log").innerHTML = str;
  };

  chatSocket.onclose = function () {
    alert("Socket closed unexpectedly, please reload the page.");
    console.log("Socket closed unexpectedly, please reload the page.")
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function () {
    var messageInputDom = document.querySelector("#chat-message-input");
    var message = messageInputDom.value;
    chatSocket.send(
      JSON.stringify({
        text: message,
      })
    );

    messageInputDom.value = "";
  };


  const inputElement = document.getElementById('chat-message-input');

  const placeholderTexts = [
    'What is the general topic of the conversation?',
    'Who are the speakers in the conversation?',
    'What are the action items in the conversation?',
    'What are the roles of the speakers in the conversation?',
    'What is the agenda of the meeting?',
    'What are the decisions taken here?',
    'Can you summarize this conversation?'
  ];

  let currentIndex = 0;

  let changeIntervalId;
  let typingIntervalId;
  changeIntervalId = setInterval(() => {
    clearInterval(typingIntervalId); // clear typing interval if it's running
    currentIndex = (currentIndex + 1) % placeholderTexts.length;
    const placeholderText = placeholderTexts[currentIndex];
    let currentText = '';
    let currentTextIndex = 0;
    typingIntervalId = setInterval(() => {
      currentText += placeholderText.charAt(currentTextIndex);
      inputElement.placeholder = currentText + '|';
      currentTextIndex++;
      if (currentTextIndex > placeholderText.length) {
        clearInterval(typingIntervalId);
        inputElement.placeholder = placeholderText;
      }
    }, 50);
  }, 5000);


  //  info
  const infoButton = document.getElementById('info-button');
  const infoPanel = document.getElementById('info-panel');

  infoButton.addEventListener('click', () => {
    infoPanel.classList.toggle('hidden');
  });

  // Get the info panel and input field
  const inputField = document.getElementById('chat-message-input');

  // Add click event listener to each question
  const questions = infoPanel.querySelectorAll('li');
  questions.forEach(question => {
    question.addEventListener('click', () => {
      inputField.value = question.dataset.text;
    });
  });
</script>
{% endblock %}
